[submodule "pack/dist/start/fzf"]
	path = pack/dist/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/dist/start/fzf.vim"]
	path = pack/dist/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/dist/start/vim-javascript"]
	path = pack/dist/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "pack/dist/start/vim-jsx-pretty"]
	path = pack/dist/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "pack/dist/start/lightline.vim"]
	path = pack/dist/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/dist/start/ale"]
	path = pack/dist/start/ale
	url = https://github.com/dense-analysis/ale
