[submodule "pack/dist/start/fzf"]
	path = pack/dist/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/dist/start/fzf.vim"]
	path = pack/dist/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
